@keyframes webshare-animation-left-inactive {
    0% {
        inset-inline-start:0;
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        inset-inline-start:-22.22222rem;
    }
    100% {
        opacity: 0;
        inset-inline-start:-22.22222rem;
    }
}

@keyframes webshare-animation-left-active {
    0% {
        inset-inline-start:-22.22222rem;
        opacity: 0;
    }
    50% {
        inset-inline-start:0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        inset-inline-start:0;
    }
}

@keyframes webshare-animation-right-inactive {
    0% {
        opacity: 1;
        inset-inline-end:0;
    }
    25% {
        opacity: 0;
    }
    50% {
        inset-inline-end:-22.22222rem;
    }
    100% {
        opacity: 0;
        inset-inline-end:-22.22222rem;
    }
}

@keyframes webshare-animation-right-active {
    0% {
        inset-inline-end:-22.22222rem;
        opacity: 0;
    }
    50% {
        inset-inline-end:-22.22222rem;
    }
    75% {
        opacity: 1;
    }
    100% {
        inset-inline-end:0;
        opacity: 1;
    }
}

.show-menu-left {
    inset-inline-end:0 !important;
  }

.show-menu-right {
    inset-inline-start:0 !important;
  }

.block-webshare-block {

    position: fixed;
    inset-block-start: 11.11111rem;
    padding-block-end: 1.11111rem;
    width: 3.05556rem !important;
     background-color: #F3F6F8
}

.block-webshare-block .block-title {
        position:absolute;
        inset-block-start: -3.88889rem;
        font-size: medium;
    }

.block-webshare-block .block-content .webshare-container {
            width: 100%
        }

.block-webshare-block .block-content .webshare-container .webshare-links-container {
                box-sizing: border-box;
                position: relative;
                margin-inline-start: auto;
                margin-inline-end: auto;
                width: 50%
            }

.block-webshare-block .block-content .webshare-container .webshare-links-container .webshare-links {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

.block-webshare-block .block-content .webshare-container .webshare-links-container .webshare-links  .webshare-link {
                        line-height: 0;
                        margin-block-start: 0.83333rem
                    }

.block-webshare-block .block-content .webshare-container .webshare-links-container .webshare-links  .webshare-link img {
                            max-height: 2rem;
                            border-radius: 0.66667rem;
                        }

.block-webshare-block .block-content .webshare-container .webshare-links-container .webshare-links  .webshare-link.copy {
                                cursor: pointer;
                        }

.block-webshare-block .block-content .webshare-container .webshare-links-container .webshare-links {
                    animation-duration: 0.75s;
                    animation-iteration-count: 1;
                    animation-timing-function: linear;
                    animation-direction: alternate;
                    animation-fill-mode: forwards;
                }

.block-webshare-block.webshare-left {

        inset-inline-end:-3.33333rem;
        transition: right 0.5s ease-out;

        .block-title {
            text-align: left;
        }
    }

.block-webshare-block.webshare-left .block-content .webshare-container {
                float: right
            }

.block-webshare-block.webshare-left .block-content .webshare-container .webshare-links-container {
                    float: left;
                    margin-inline-start: 0.66667rem
                }

.block-webshare-block.webshare-left .block-content .webshare-container .webshare-links-container .webshare-links {
                        text-align: left
                    }

.block-webshare-block.webshare-left .block-content .webshare-container .webshare-links-container .webshare-links .webshare-active {
                            animation-name: webshare-animation-left-active;
                        }

.block-webshare-block.webshare-left .block-content .webshare-container .webshare-links-container .webshare-links .webshare-inactive {
                            animation-name: webshare-animation-left-inactive;
                        }

.block-webshare-block.webshare-right {
        inset-inline-start:-3.33333rem;
        transition: left 0.5s ease-out
    }

.block-webshare-block.webshare-right .block-title {
            text-align: right;
        }

.block-webshare-block.webshare-right .block-content .webshare-container {
                float: left
            }

.block-webshare-block.webshare-right .block-content .webshare-container  .webshare-links-container {
                    float: right;
                    margin-right: 0.66667rem
                }

.block-webshare-block.webshare-right .block-content .webshare-container  .webshare-links-container  .webshare-links {
                        text-align: right
                    }

.block-webshare-block.webshare-right .block-content .webshare-container  .webshare-links-container  .webshare-links .webshare-active {
                            animation-name: webshare-animation-right-active;
                        }

.block-webshare-block.webshare-right .block-content .webshare-container  .webshare-links-container  .webshare-links .webshare-inactive {
                            animation-name: webshare-animation-right-inactive;
                        }
